* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}
li {
  text-decoration: none;
  list-style: none;
}

h1 {
  color: #252525;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  color: inherit;
}
main {
  background-color: blue;
  flex: 1 0 auto;
}

header {
  background-color: white;
  padding: 0 1rem;
  width: 100%;
  z-index: 99;
  box-shadow: 0 2px 2px #3a3a3a;
  position: fixed;
}

footer {
  background: yellow;
}
