/*
    tablet = 768px
    laptop = 992px
    desktop = 1200px
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  background: lightblue;
}
li {
  text-decoration: none;
  list-style: none;
}

h1 {
  color: #252525;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: white;
  padding: 0 1rem;
  width: 100%;
  z-index: 99;
  box-shadow: 0 2px 2px #3a3a3a;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu > li {
  margin-bottom: 1em;
}

.active {
  border-bottom: 1px solid black;
}

nav {
  position: absolute;
  background: white;
  box-shadow: 0 2px 2px #3a3a3a;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  display: none;
  top: 100%;
}

#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}
.nav-toggle-label {
  font-size: 2rem;
}
main {
  background-color: lightblue;
  flex: 1 0 auto;
  margin-top: 40px;
}

footer {
  background: yellow;
}

@media screen and (min-width: 768px) {
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }
  #menu {
    display: flex;
    gap: 2rem;
  }

  .nav-toggle-label {
    display: none;
  }

  .logo {
    font-size: 200%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  main {
    margin-top: 79px;
  }
  a:hover {
    border-bottom: 1px solid black;
  }
}

@media screen and (min-width: 992px) {
  a:hover {
    border-bottom: 1px solid black;
  }
}

#social-network {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  background: white;
}

#social-network i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}

#hero {
  height: 600px;
  width: 100%;
  background: url("../images/hero-image.webp") no-repeat center center/cover;
}
