* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

main {
  background-color: blue;
  flex: 1 0 auto;
}

header {
  background-color: red;
}

footer {
  background: yellow;
}
